
<div class="sheet sheet-list-item">
    <div class="sheet-cover">
        <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">  
    </div>
    <div class="sheet-title-container">
        <h2 class="sheet-title">{{ sheet.title }}</h2>
    </div>

    <div class="sheet-author">
        <span class="sheet-author-item">
            <i class="fas fa-user"></i>
            {{ sheet.first_name }} {{ sheet.last_name }}
        </span>
        <span class="sheet-author-item">
            <i class="fas fa-calendar-alt"></i>
            {{ sheet.created_at|date:"d/m/Y" }} às {{ sheet.created_at|date:"H:i" }}
        </span>
        <span class="sheet-author-item">
            <a href="">
                <i class="fas fa-music music-logo-icon"></i>
                <span>{{ sheet.category.name }}</span>
            </a>
        </span>
    </div>
    <div class="sheet-content">
        <p>
            {{ sheet.description }}
        </p>
    </div>

    {% comment %} <div class="sheet-meta-container">
        <div class="sheet-meta sheet-preparation">
            <h3 class="sheet-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="sheet-meta-text">
                0 Minutos
            </div>
        </div>
        <div class="sheet-meta sheet-servings">
            <h3 class="sheet-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="sheet-meta-text">
                0 Porções
            </div>
        </div>
    </div> {% endcomment %}

    <footer class="sheet-footer">
        <a class="sheet-read-more button button-dark button-full-width" href="/sheet/1/">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>

</div>