<main class="main-content-container">
    <div class="main-content main-content-list container">
        <div class="sheet sheet-list-item">
            <div class="sheet-cover">
                <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
            </div>
            <div class="sheet-title-container">
                <h2 class="sheet-title">Lorem ipsum dolor sit amet.</h2>
            </div>

            <div class="sheet-author">
                <span class="sheet-author-item">
                    <i class="fas fa-user"></i>
                    Marcio Silva
                </span>
                <span class="sheet-author-item">
                    <i class="fas fa-calendar-alt"></i>
                    06/09/2023 às 01:01
                </span>
                <span class="sheet-author-item">
                    <a href="">
                        <i class="fas fa-layer-group"></i>
                        <span>Caminhando</span>
                    </a>
                </span>
            </div>
            <div class="sheet-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae voluptate in nisi harum aperiam
                fugiat, totam et, porro qui doloribus hic facilis a illum asperiores cumque.
            </div>
        </div>

    </div>
